.farms-box-item {
    display: flex;
    flex-direction: column;
    height: 407px;
    width: 360px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    margin: 30px;
}

.farms-box-item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    height: 205px;
}

.farm-settings-box {
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}

.more {
    cursor: pointer;
}

.farm-name {
    font: bold 19px 'Quicksand';
    color: #1F2041;
    margin: 15px 40px 10px 40px;
}

.farm-address {
    font: normal 14px 'Montserrat';
    color: #8f90a0;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

