.farms-box-item-photos {
    width: inherit;
    height: 202px;
    background: #6FCF97;
    position: relative;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

#slider {
    position: relative;
    transition: left linear .2s;
}

.slides {
    display: flex;
}

.slides img {
    width: 360px;
    height: 202px;
}

#right-arrow {
    position: absolute;
    right: 0;
    top: 90px;
    margin-right: 15px;
}

#left-arrow {
    position: absolute;
    left: 0;
    top: 90px;
    margin-left: 15px;
}

.right-arrow-box {
    width: 40px;
    height: 202px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.left-arrow-box {
    width: 40px;
    height: 202px;
    position: absolute;
    top: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hidden {
    display: none;
}

.photo-nav {
    width: inherit;
    height: 36px;
    background: #000;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
}

.photo-nav-circle-box {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
}

.photo-nav-circle-box div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #FFFFFF;
    margin-right: 5px;
    margin-bottom: 13px;
    cursor: pointer;
}

.fill {
    background: #FFFFFF;
}
