.reg_buttons
{
    font: bold 12px 'Montserrat';
	line-height: 12px;
	text-transform: uppercase;
	color: #FFC03D;
	height: 34px;
	border: solid 2px #FFC03D;
	border-radius: 22px;
	background-color: transparent;
	padding: 10px 15px;
	margin-left: 20px;
	cursor: pointer;    
}