.logo_header {
    position: absolute;
    top: -10px;
    left: 107px;
}

.logo_header a {
    text-decoration: none;
    align-items: flex-end;
    display: flex;
}

.logo_text {
    font: bold 19px 'Dosis';
    color: black;
    margin-bottom: -4px;
}