.menu_items {
    display: flex;
    font: normal 14px 'Montserrat';
    list-style: none;
}

.menu-items-font-14 {
    font: normal 14px 'Montserrat';
}

.menu-items-font-18 {
    font: normal 18px 'Montserrat';
}

.menu_items a {
    text-decoration: none;
    margin-right: 29px;
    color: #676878;
}

.menu_items a.active {
    font-weight: bolder;
}
